<footer>
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 widget">
          <div class="about">
            <a href="#"><img class="logo" src="images/logo.svg" height="32" alt="Book Now"></a>
            <p>“Happiness is a choice, a repetitive one.” ― Akilnathan Logeswaran</p>
            <p> “In all of living, have much fun and laughter. Life is to be enjoyed, not just endured.” ― Gordon B. Hinckley</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 widget">
          <h5>Latest News</h5>
          <ul class="blog_posts">
            <li><a href="#">Live your myth in Tunisia</a> <small>AUGUST 13, 2020</small></li>
            <li><a href="#">Hotel Zante in pictures</a> <small>AUGUST 16, 20</small></li>
            <li><a href="#">Hotel Zante family party</a> <small>SEPTEMBER 15, 2020</small></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 widget">
          <h5>Useful Links</h5>
          <ul class="useful_links">
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Location</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 widget">
          <h5>Contact Us</h5>
          <address>
            <ul class="address_details">
              <li><i class="glyphicon glyphicon-map-marker"></i> Ariana Soghra, Tunisia</li>
              <li><i class="glyphicon glyphicon-phone-alt"></i> Phone: +216 27213 977 </li>
              <li><i class="fa fa-fax"></i> Fax: 800 123 3456</li>
              <li><i class="fa fa-envelope"></i> Email: <a href="#">oussema.touaibi1@esprit.tn</a></li>
            </ul>
          </address>
        </div>
      </div>
    </div>
  </div>
  <div class="subfooter">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="copyrights">
            Copyright 2020 <a href="index.html">Hotel Zante</a> All Rights Reserved.
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="social_media">
            <a class="facebook" data-original-title="Facebook" data-toggle="tooltip" href="#"><i class="fa fa-facebook"></i></a>
            <a class="twitter" data-original-title="Twitter" data-toggle="tooltip" href="#"><i class="fa fa-twitter"></i></a>
            <a class="googleplus" data-original-title="Google Plus" data-toggle="tooltip" href="#"><i class="fa fa-google-plus"></i></a>
            <a class="pinterest" data-original-title="Pinterest" data-toggle="tooltip" href="#"><i class="fa fa-pinterest"></i></a>
            <a class="linkedin" data-original-title="Linkedin" data-toggle="tooltip" href="#"><i class="fa fa-linkedin"></i></a>
            <a class="instagram" data-original-title="Instagram" data-toggle="tooltip" href="#"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>





