<main id="error404_page">
  <div class="container">
    <h1 class="error_number"> 404 </h1>
    <div class="main_title t_style3 a_center f_bold">
      <h2>OOPS!! PAGE NOT FOUND</h2>
    </div>
    <div class="text-center" routerLinkActive="active">
      <a href="/welcome"  class="button btn_sm btn_dark"><i class="fa fa-angle-left"></i> GO BACK TO HOME PAGE</a> &nbsp; OR &nbsp;
      <a href="/contactus"   class="button btn_sm btn_dark">CONTACT US &nbsp;<i class="fa fa-envelope-o"></i></a>
    </div>
  </div>
</main>


