<app-list-top-rooms></app-list-top-rooms>

<!-- ========== FEATURES ========== -->
<section class="lightgrey_bg" id="features">
  <div class="container">
    <div class="main_title mt_wave a_center">
      <h2>OUR AWESOME SERVICES</h2>
    </div>
    <p class="main_description a_center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>

    <div class="row">
      <div class="col-md-7">
        <div data-slider-id="features" id="features_slider" class="owl-carousel">
          <div><img src="../../assets/f/images/restaurant.jpg" class="img-responsive" alt="Image"></div>
          <div><img src="../../assets/f/images/spa.jpg" class="img-responsive" alt="Image"></div>
          <div><img src="../../assets/f/images/conference.jpg" class="img-responsive" alt="Image"></div>
          <div><img src="../../assets/f/images/swimming.jpg" class="img-responsive" alt="Image"></div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="owl-thumbs" data-slider-id="features">
          <div class="owl-thumb-item">
            <span class="media-left"><i class="flaticon-food"></i></span>
            <div class="media-body">
              <h5>Restaurant</h5>
              <p>The most important aspect of any restaurant is the quality of food and service, and we are justifiably proud of both.
                Our menu is based on the principles of using the high quality raw local ingredients, along with the best of ingredients imported from around the world, freshly cooked and presented by our head chef Matt Clarke and his team with care and attention.
                There is a wide selection to choose from, including fresh fish, char-grills, ala’carte selections and special menus.</p>
            </div>
          </div>
          <div class="owl-thumb-item">
            <span class="media-left"><i class="flaticon-person"></i></span>
            <div class="media-body">
              <h5>Spa - Beauty &amp; Health</h5>
              <p>Pamper yourself at a luxury spa in Palm Springs with treatments leaving you feeling like a million bucks.</p>
            </div>
          </div>
          <div class="owl-thumb-item">
            <span class="media-left"><i class="flaticon-business"></i></span>
            <div class="media-body">
              <h5>Conference Room</h5>
              <p> If you’re looking to book a larger meeting with us requiring multiple meeting rooms and over 25 guest rooms, then look no further.</p>
            </div>
          </div>
          <div class="owl-thumb-item">
            <span class="media-left"><i class="flaticon-beach"></i></span>
            <div class="media-body">
              <h5>Swimming Pool</h5>
              <p>After a long day of traveling or sightseeing, there’s nothing like a refreshing dip in the pool.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- ========== VIDEO ========== -->

<section id="video">
  <div class="inner gradient_overlay">
    <div class="container">
      <div class="video_popup">
        <a class="popup-vimeo" href="../../assets/f/videos/hero_video.mp4"><i class="fa fa-play"></i></a>
      </div>
    </div>
  </div>
</section>

<!-- ========== TESTIMONIALS ========== -->
<section id="testimonials" class="lightgrey_bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <main id="gallery_page_style_2">
          <div class="main_title mt_wave mt_dark a_center">
            <h2>OUR HAPPY CLIENTS</h2>
          </div>
        <figure>
          <a href="#" class="hover_effect h_lightbox h_blue">
            <img src="../../assets/f/images/gallery/event3.jpg" class="img-responsive" alt="Image">
          </a>
        </figure>
          <figure>
            <a href="#" class="hover_effect h_lightbox h_blue">
              <img src="../../assets/f/images/gallery/event2.jpg" class="img-responsive" alt="Image">
            </a>
          </figure>
          <figure>
            <a href="#" class="hover_effect h_lightbox h_blue">
              <img src="../../assets/f/images/gallery/event4.jpg" class="img-responsive" alt="Image">
            </a>
          </figure>
        </main>
         </div>

      <div class="col-md-6">

          <!-- ITEM -->
          <div class="item">
            <img src="../../assets/f/images/users/saif.jpg" alt="Image">
            <div class="review_content">
              <p>"...I met the most delightful staff at the Holiday"</p>
              <div class="review_rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </div>
              <div class="review_author">Saif Eddin Ben Youssef</div>
            </div>
          </div>
          <!-- ITEM -->
          <div class="item">
            <img src="../../assets/f/images/users/mbarki.jpg" alt="Image">
            <div class="review_content">
              <p>"Everything went great in ZANTE"</p>
              <div class="review_rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <div class="review_author">Wael Mbarki</div>
            </div>
          </div>
          <!-- ITEM -->
          <div class="item">
            <img src="../../assets/f/images/users/derbeli.jpg" alt="Image">
            <div class="review_content">
              <p>"...I was very pleased and satisfied with your services"</p>
              <div class="review_rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </div>
              <div class="review_author">Wael Derbeli</div>
            </div>
          </div>
        <div class="item">
          <img src="../../assets/f/images/users/yassin.jpg" alt="Image">
          <div class="review_content">
            <p>"..has been a lifesaver for me"</p>
            <div class="review_rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <div class="review_author">Yassine Kadri</div>
          </div>
        </div>
        </div>
      </div>
    </div>

</section>

