<section class="white_bg" id="contact">
  <div class="container">
    <div class="main_title mt_wave a_center">
      <h2>CONTACT US</h2>
    </div>
    <p class="main_description a_center">please send your message belowWe will get back to your at the earlest!</p>

    <div class="row">

      <div class="col-md-6">
        <div class="row">
          <div class="contact-items">
            <div class="col-md-4 col-sm-4">
              <div class="contact-item">
                <i class="glyphicon glyphicon-map-marker"></i>
                <h6>Ariana Soghra,Tunisia</h6>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="contact-item">
                <i class="glyphicon glyphicon-phone-alt"></i>
                <h6>+216 27 213 977</h6>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="contact-item">
                <i class="fa fa-envelope"></i>
                <h6>oussema@esprit.tn</h6>
              </div>
            </div>
          </div>
        </div>
        <form id="contact-form" name="contact-form">
          <div class="form-group">
            <input class="form-control" name="name" placeholder="Your Name" type="text">
          </div>
          <div class="form-group">
            <input class="form-control" name="email" type="email" placeholder="Your Email Address">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" placeholder="Your Message"></textarea>
          </div>
          <button class="button btn_lg btn_blue btn_full upper" type="submit"><i class="fa fa-location-arrow"></i>Send Message</button>
        </form>
      </div>
    </div>
  </div>
</section>
