<!-- ========== SUBSCRIBE ========== -->
<section id="subscribe" class="gradient_overlay">
  <div class="inner">
    <div class="container">
      <div class="main_title mt_wave mt_white a_center">
        <h2>Registration</h2>
      </div>


      <form        *ngIf="!isSuccessful"
                   name="form"
                   (ngSubmit)="f.form.valid && onSubmit()"
                   #f="ngForm"
                   novalidate
            >

          <div class="form-group">
            <input type="text" class="form-control"    name="username"
                   [(ngModel)]="user.username"
                   required
                   minlength="3"
                   maxlength="20"
                   #username="ngModel"
                   placeholder="Enter UserName">
            <div   style="color: whitesmoke;" *ngIf="username.errors && f.submitted">
              <div *ngIf="username.errors.required">Username is required</div>
              <div *ngIf="username.errors.minlength">
                Username must be at least 3 characters
              </div>
              <div *ngIf="username.errors.maxlength">
                Username must be at most 20 characters
              </div>
            </div>
          </div>
        <br><br>
        <br><br>

          <div class="form-group">
            <input   type="email" class="form-control"     name="email"
                     [(ngModel)]="user.email"
                     required
                     email
                     #email="ngModel"
                     placeholder="Enter Email"
            >
            <div     style="color: whitesmoke;" *ngIf="email.errors && f.submitted">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>
        <br><br>
        <br><br>
          <div class="form-group">
            <input   type="password" class="form-control"         name="password"
                     [(ngModel)]="user.password"
                     required
                     minlength="6"
                     #password="ngModel"
                     placeholder="Enter Your Password">
            <div style="color: whitesmoke;"*ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
        <br><br>

        <div class="form-group">
          <button class="button btn_lg btn_blue" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>Sign Up</button>
        </div>


        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>

    </div>
  </div>
</section>
